{% extends 'cookflixapp/base2.html' %}
{% load staticfiles %}

{% block title_block %}

{% endblock %}


{% block body_block %}
<h4 class="mb-50">About Cookflix</h4>
<div class=row>
  <div class="col-lg-12">
  Cookflix is a simple, easy to use recipe sharing website that allows people to share and look up video recipes. We aim to bring together a community for sharing and appreciating good and authentic food from and the world.
  is unique in a way that allows food enthusiasts with none to high level of expertise in making food to come together and appreciate different food cultures in a very flexible and simple web experience.
</div>
</div>

{% endblock %}
