{% extends 'cookflixapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
  About
{% endblock %}


{% block body_block %}
<div class="bueno-post-area mb-70">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Post Area -->
            <div class="col-12 col-lg-8 col-xl-9">
<h4 class="mb-50" align="center">About Cookflix</h4>
<div class=row>
  <div class="col-lg-12">
  Cookflix is a simple, easy to use recipe sharing website that allows people to share and look up video recipes. We aim to bring together a community for sharing and appreciating good and authentic food from and the world.
  is unique in a way that allows food enthusiasts with none to high level of expertise in making food to come together and appreciate different food cultures in a very flexible and simple web experience.
</div>
</div>
</div>
</div>
</div>
{% endblock %}
