{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Cookflix -
      {% block title_block%}
      {% endblock %}
    </title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bueno/style.css" %}">

</head>

<body>

    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-content">
            <h3>Cooking in progress..</h3>
            <div id="cooking">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div id="area">
                    <div id="sides">
                        <div id="pan"></div>
                        <div id="handle"></div>
                    </div>
                    <div id="pancake">
                        <div id="pastry"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area bg-img bg-overlay" >
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <div class="col-sm-6 col-lg-5 col-xl-4">
                        <!-- Top Search Area -->
                        <div class="top-search-area">
                            <form action="#" method="post">
                                <div class="row">
                                    <input type="search" name="top-search" id="topSearch" placeholder="Search for recipes" />
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <!-- Login/Register -->
                      <div class="login-area pull-right">
                        <a class="btn bueno-btn" href="{% url 'login' %}">
                          Login</a>
                        
                        <a class="btn bueno-btn btn-sm" href="{% url 'register' %}">
                          Register</a>
                      </div>
                        <!-- Top Social Info -->
                        <!-- <div class="top-social-info">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo Area -->
        <div class="logo-area" style="padding:10px;">
          <div class="col-xs-2">
            <figure>
              <img style="height:90px;" src="{% static "img/logo.png" %}" alt="">
              <figcaption><b style="font-size:25px;" >Cookflix</b></figcaption>
            </figure>
          </div>
        </div>

        <!-- Navbar Area -->
        <div class="bueno-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container-fluid">
                  <div class="row">
                    <div class="span6" style="float: none; margin: 0 auto;">

                      <!-- Menu -->
                      <nav class="classy-navbar justify-content-between" id="buenoNav">
                          <!-- Navbar Toggler -->
                          <div class="classy-navbar-toggler">
                              <span class="navbarToggler"><span></span><span></span><span></span></span>
                          </div>

                          <!-- Menu -->
                          <div class="classy-menu pull-left">

                              <!-- Close Button -->
                              <div class="classycloseIcon">
                                  <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                              </div>

                              <!-- Nav Start -->
                              <div class="classynav">
                                  <ul>
                                      <li><a href="index.html">Home</a></li>
                                      <li><a href="#">About Us</a></li>
                                      <li><a href="#">Pages</a>
                                          <ul class="dropdown">
                                              <li><a href="index.html">Home</a></li>
                                              <li><a href="catagory.html">Catagory</a></li>
                                              <li><a href="catagory-post.html">Catagory Post</a></li>
                                              <li><a href="single-post.html">Single Post</a></li>
                                              <li><a href="receipe.html">Recipe</a></li>
                                              <li><a href="contact.html">Contact</a></li>
                                          </ul>
                                      </li>
                                      <li><a href="#">Recipes</a>
                                          <div class="megamenu">
                                              <ul class="single-mega cn-col-4">
                                                  <li><a href="#">- Recipe</a></li>
                                                  <li><a href="#">- Bread</a></li>
                                                  <li><a href="#">- Breakfast</a></li>
                                                  <li><a href="#">- Meat</a></li>
                                                  <li><a href="#">- Fastfood</a></li>
                                                  <li><a href="#">- Salad</a></li>
                                                  <li><a href="#">- Soup</a></li>
                                              </ul>
                                              <ul class="single-mega cn-col-4">
                                                  <li><a href="#">- Recipe</a></li>
                                                  <li><a href="#">- Bread</a></li>
                                                  <li><a href="#">- Breakfast</a></li>
                                                  <li><a href="#">- Meat</a></li>
                                                  <li><a href="#">- Fastfood</a></li>
                                                  <li><a href="#">- Salad</a></li>
                                                  <li><a href="#">- Soup</a></li>
                                              </ul>
                                              <ul class="single-mega cn-col-4">
                                                  <li><a href="#">- Recipe</a></li>
                                                  <li><a href="#">- Bread</a></li>
                                                  <li><a href="#">- Breakfast</a></li>
                                                  <li><a href="#">- Meat</a></li>
                                                  <li><a href="#">- Fastfood</a></li>
                                                  <li><a href="#">- Salad</a></li>
                                                  <li><a href="#">- Soup</a></li>
                                              </ul>
                                              <ul class="single-mega cn-col-4">
                                                  <li><a href="#">- Recipe</a></li>
                                                  <li><a href="#">- Bread</a></li>
                                                  <li><a href="#">- Breakfast</a></li>
                                                  <li><a href="#">- Meat</a></li>
                                                  <li><a href="#">- Fastfood</a></li>
                                                  <li><a href="#">- Salad</a></li>
                                                  <li><a href="#">- Soup</a></li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li><a href="single-post.html">Blog</a></li>
                                      <li><a href="contact.html">Contact</a></li>
                                  </ul>


                              </div>
                              <!-- Nav End -->

                          </div>
                      </nav>

                    </div>
                  </div>

                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->


    <!-- ##### TOP Area Start ##### -->
    <br/>
    <div class="container">
      <div class="row">

        <div class="col-4">

          <div class="single-widget-area add-widget mb-30">
            <img src="{% static 'img/top_rated.jpg'%}" alt="">
          </div>

            <div class="single-widget-area post-widget">
              <div class="single-post-area d-flex mb-30">

                <div class="blog-thumbnail">
                <img src="{% static 'img/food.jpg'%}" alt="">
                 </div>


                <div class="blog-content">
                  <a href="#" class="post-title">Burger with fries</a>
                  <div class="post-meta">
                    <a href="#" class="post-date">July 11, 2018</a>
                    <a href="#" class="post-author">By Julia Stiles</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-4">

          <div class="single-widget-area add-widget mb-30">
            <img src="{% static 'img/recently_added.jpg'%}" alt="">
          </div>

            <div class="single-widget-area post-widget">
              <div class="single-post-area d-flex mb-30">

                <div class="blog-thumbnail">
                <img src="{% static 'img/food.jpg'%}" alt="">
                 </div>


                <div class="blog-content">
                  <a href="#" class="post-title">Burger with fries</a>
                  <div class="post-meta">
                    <a href="#" class="post-date">July 11, 2018</a>
                    <a href="#" class="post-author">By Julia Stiles</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-4">

          <div class="single-widget-area add-widget mb-30">
            <img src="{% static 'img/popular.jpg'%}" alt="">
          </div>

            <div class="single-widget-area post-widget">
              <div class="single-post-area d-flex mb-30">

                <div class="blog-thumbnail">
                <img src="{% static 'img/food.jpg'%}" alt="">
                 </div>


                <div class="blog-content">
                  <a href="#" class="post-title">Burger with fries</a>
                  <div class="post-meta">
                    <a href="#" class="post-date">July 11, 2018</a>
                    <a href="#" class="post-author">By Julia Stiles</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

      {% block body_block %}

      {% endblock %}
    <!-- ##### TOP Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-5">
                    <!-- Copywrite Text -->
                    <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
                <div class="col-12 col-sm-7">
                    <!-- Footer Nav -->
                    <div class="footer-nav">
                        <ul>
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Recipes</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static "js/jquery-2.2.4.min.js" %}"></script>
    <!-- Popper js -->
    <script src="{% static "js/popper.min.js" %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static "bootstrap/bootstrap.min.js" %}"></script>
    <!-- All Plugins js -->
    <script src="{% static "js/plugins.js" %}"></script>
    <!-- Active js -->
    <script src="{% static "js/active.js" %}"></script>
</body>

</html>
