{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Cookflix -
      {% block title_block%}
      {% endblock %}
    </title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bueno/style.css" %}">
    <link rel="stylesheet" href="{% static "customcss/style.css" %}">

    {% block extra_css_files_block %}

    {% endblock %}

</head>

<body>


    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-content">
            <h3>Cooking in progress..</h3>
            <div id="cooking">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div id="area">
                    <div id="sides">
                        <div id="pan"></div>
                        <div id="handle"></div>
                    </div>
                    <div id="pancake">
                        <div id="pastry"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="اheader-2 bg-img bg-overlay" style="background-image: url(img/bg-img/header.jpg);">
            <div class="container-fluid h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <div class="col-sm-2 col-lg-2 col-xl-2">
                        <!-- Logo -->
                        <figure style="margin: 0% auto;">
			              <!-- <img style="height:90px;" src="{% static "img/logo.png" %}" alt=""> -->
			              <figcaption><b style="font-size:25px; color:#FFFFFF" >Cookflix</b></figcaption>
			            </figure>
                    </div>
                    <div class="col-sm-7">
                      <!-- Menu -->
                      <p class="menu-2-item"><a href="{% url 'home' %}">Home</a></p>
                      <p class="menu-2-item"><a href="{% url 'browse' %}">Browse</a></p>
                      {% if user.is_authenticated %}
                      <p class="menu-2-item"><a href="{% url 'upload' %}">Upload</a></p>
                      {% endif %}
                      <p class="menu-2-item"><a href="{% url 'about' %}">About</a></p>
                      <p class="menu-2-item"><a href="{% url 'search' %}">Search API</a></p>

                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-sm-3">
                      <!-- User Info -->
                      <p class="user-logged-in">Welcome Back ! {{ user.username }}
                      <a class="user-logged-in" href="{% url 'logout' %}">Logout</a></p>
                      <div class="top-search-area">
                            <form method='GET' action='{% url 'browse' %}'>
                                <div class="row">
                                    <!-- <input type="search" name="top-search" id="topSearch" class="col-sm-10" placeholder="Search for recipes" />
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button> -->
                                    <input type='text' name='q' id="topSearch" class="col-sm-10" placeholder="Search For Recipes" value='{{ request.GET.q }}'/>
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                    <!-- <input type='submit' value='Search' /> -->

                                </div>
                            </form>
                        </div>
                    </div>
                    {% else %}
                    <div class="login-area pull-right">
                      <a class="btn bueno-btn" href="{% url 'login' %}">
                        Login</a>

                      <a class="btn bueno-btn btn-sm" href="{% url 'register' %}">
                        Register</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Logo Area -->
        <!-- <div class="logo-area" style="padding:10px;">
          <div class="col-xs-2">
            <figure>
              <img style="height:90px;" src="{% static "img/logo.png" %}" alt="">
              <figcaption><b style="font-size:25px;" >Cookflix</b></figcaption>
            </figure>
          </div>
        </div> -->

        <!-- Navbar Area -->
        <!-- <div class="bueno-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container-fluid">
                  <div class="row">
                    <div class="span6" style="float: none; margin: 0 auto;"> -->

                      <!-- Menu -->
                      <!-- <nav class="classy-navbar justify-content-between" id="buenoNav"> -->
                          <!-- Navbar Toggler -->
                          <!-- <div class="classy-navbar-toggler">
                              <span class="navbarToggler"><span></span><span></span><span></span></span>
                          </div> -->

                          <!-- Menu -->
                          <!-- <div class="classy-menu pull-left"> -->

                              <!-- Close Button -->
                              <!-- <div class="classycloseIcon">
                                  <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                              </div> -->

                              <!-- Nav Start -->
                              <!-- <div class="classynav">
                                  <ul>
                                      <li><a href="{% url 'home' %}">Home</a></li>
                                      <li><a href="#">Pages</a>
                                          <ul class="dropdown">
                                              <li><a href="index.html">Home</a></li>
                                              <li><a href="catagory.html">Catagory</a></li>
                                              <li><a href="catagory-post.html">Catagory Post</a></li>
                                              <li><a href="single-post.html">Single Post</a></li>
                                              <li><a href="receipe.html">Recipe</a></li>
                                              <li><a href="contact.html">Contact</a></li>
                                          </ul>
                                      </li>
                                      <li><a href="#">Cuisines</a>
                                          <div class="megamenu">
                                              <ul class="single-mega cn-col-4">
                                                  <li><a href="{% url 'browse' cuisine_type='CHINESE' %}">- Chinese</a></li>
                                                  <li><a href="{% url 'browse' cuisine_type='INDIAN' %}">- Indian</a></li>
                                                  <li><a href="{% url 'browse' cuisine_type='ITALIAN' %}">- Italian</a></li>
                                              </ul>
                                              <ul class="single-mega cn-col-4">
                                                  <li><a href="{% url 'browse' cuisine_type='KOREAN' %}">- Korean</a></li>
                                                  <li><a href="{% url 'browse' cuisine_type='SPANISH' %}">- Spanish</a></li>
                                                  <li><a href="{% url 'browse' cuisine_type='FRENCH' %}">- French</a></li>

                                              </ul>
                                              <ul class="single-mega cn-col-4">
                                                  <li><a href="{% url 'browse' cuisine_type='PAKISTANI' %}">- Pakistani</a></li>
                                                  <li><a href="{% url 'browse' cuisine_type='GREEK' %}">- Greek</a></li>
                                                  <li><a href="{% url 'browse' cuisine_type='JAPANESE' %}">- Japanese</a></li>
                                              </ul>
                                              <ul class="single-mega cn-col-4">
                                                  <li><a href="{% url 'browse' cuisine_type='AMERICAN' %}">- American</a></li>
                                                  <li><a href="{% url 'browse' cuisine_type='BRITISH' %}">- British</a></li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li><a href="single-post.html">Blog</a></li>
                                      <li><a href="contact.html">Contact</a></li>
                                      <li><a href="{% url 'about' %}">About Us</a></li>
                                  </ul>


                              </div> -->
                              <!-- Nav End -->

                          <!-- </div>
                      </nav>

                    </div>
                  </div>

                </div>
            </div>
        </div>
    </header> -->
    <!-- ##### Header Area End ##### -->

      <div class="mt-4 col-md-12">

      </div>

      <div class="container">

        <div class="row">
          {% block body_block %}

          {% endblock %}
        </div>
      </div>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-2 col-sm-12">
                    <!-- Copywrite Text -->
                    <!-- <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </p>-->
                </div>
                 <div class="col-12 col-sm-7">
                  <!-- <div class="footer-nav"> -->
                        <!-- <ul>
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Recipes</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static "js/jquery-2.2.4.min.js" %}"></script>
    <!-- Popper js -->
    <script src="{% static "js/popper.min.js" %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static "bootstrap/bootstrap.min.js" %}"></script>
    <!-- All Plugins js -->
    <script src="{% static "js/plugins.js" %}"></script>
    <!-- Active js -->
    <script src="{% static "js/active.js" %}"></script>
    <!-- Custom js -->
    <script src="{% static "customjs/customjs.js" %}"></script>

    {% block extra_js_files_block %}

    {% endblock %}

</body>

</html>
