{% extends 'cookflixapp/base.html'%}
{% load staticfiles %}


{% block title_block %}
Home
{% endblock %}


{% block body_block %}

<!-- ##### TOP Area Start ##### -->
<div class="container">
  <div class="row">

    <!-- Top Rated -->
    <div class="col-4">

      <div class="single-widget-area add-widget mb-30">
        <img src="{% static 'img/top_rated.jpg'%}" alt="">
      </div>
      {% for recipe in recipes_by_rating %}
        <div class="single-widget-area post-widget">
          <div class="single-post-area d-flex mb-30">

            <div class="blog-thumbnail">
            <img src="{{ MEDIA_URL }}{{recipe.thumbnail }}" alt="{{ recipe.title }}">
             </div>

            <div class="blog-content">
              <a href="{% url 'recipe' id=recipe.id %}" class="post-title">{{ recipe.title }}</a>
              <div class="post-meta">
                <a>foo.ratings.get()</a>
                <a href="{% url 'mypost' username=recipe.user %}" class="post-author">By {{recipe.user}}</a>
              </div>
            </div>
            </div>
            </div>
            {% endfor %}
          </div>

    <!-- Recently Added -->
    <div class="col-4">

      <div class="single-widget-area add-widget mb-30">
        <img src="{% static 'img/recently_added.jpg'%}" alt="">
      </div>

      {% for recipe in recipes_by_date %}
        <div class="single-widget-area post-widget">
          <div class="single-post-area d-flex mb-30">

            <div class="blog-thumbnail">
            <img src="{{ MEDIA_URL }}{{recipe.thumbnail }}" alt="{{ recipe.title }}">
             </div>

            <div class="blog-content">
              <a href="{% url 'recipe' id=recipe.id %}" class="post-title">{{ recipe.title }}</a>
              <div class="post-meta">
                <a>{{ recipe.created_at }}</a>
                <a href="{% url 'mypost' username=recipe.user %}" class="post-author">By {{recipe.user}}</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Popular -->
    <div class="col-4">

      <div class="single-widget-area add-widget mb-30">
        <img src="{% static 'img/popular.jpg'%}" alt="">
      </div>

      {% for recipe in recipes_by_views %}
        <div class="single-widget-area post-widget">
          <div class="single-post-area d-flex mb-30">

            <div class="blog-thumbnail">
            <img src="{{ MEDIA_URL }}{{recipe.thumbnail }}" alt="{{ recipe.title }}">
             </div>

            <div class="blog-content">
              <a href="{% url 'recipe' id=recipe.id %}" class="post-title">{{ recipe.title }}</a>
              <div class="post-meta">
                <a >Views: {{ recipe.views }}</a>
                <a href="{% url 'mypost' username=recipe.user %}" class="post-author">By {{recipe.user}}</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
