{% extends 'cookflixapp/base2.html' %}
{% load staticfiles %}

{% block title_block %}
Login
{% endblock %}


{% block body_block %}

{% if registered %}
    <strong>already logged in!</strong>
    <a href="{% url 'home' %}">Return to the homepage.</a><br />
{% else %}

  <div class="contact-form-area">
    <h4 class="mb-50" align="center">Login</h4>
    {% for error in errors %}
      <div class="alert alert-danger" role="alert">
        <strong>Error</strong> {{error}}
      </div>
    {% endfor %}
  </div>


  <div class="bueno-post-area mb-70">
      <div class="container">
          <div class="row justify-content-center">
              <!-- Post Area -->
              <div class="col-12 col-lg-8 col-xl-9">

  <form id="login_form" method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
            <input required type="text" class="form-control" name="username" size="50" placeholder="username">
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-group">
            <input required type="password" class="form-control" name="password" size="50" placeholder="password">
        </div>
      </div>

      <div class="col-12">
        <button class="btn bueno-btn mt-30" type="submit" name="submit">Login</button>
      </div>

        <a class="loginBtn loginBtn--facebook mt-30" href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>

    </div>

  </form>
</div>
</div>
</div>



{% endif %}



{% endblock %}
