{% extends 'cookflixapp/base2.html' %}
{% load staticfiles %}

{% block title %}
  {{ selecteduser.username }} Profile
{% endblock %}

{% block body_block %}
  <div class="row">
    <div class="col-sm-6">
    <h1>{{ userprofile.first_name }} {{ userprofile.last_name }}'s Profile</h1>
    <img src="{{ MEDIA_URL }}{{userprofile.picture }}" class="img-thumbnail" alt="{{selecteduser.username}}"/>
    </div>
    <div class="col-sm-6"><br/><br/><br/>
    {% if selecteduser.username == user.username %}
      <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}

          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                {% if field.name == "picture" %}
                  <input class="file-input-hide" id="input_{{field.name}}" required type="file" accept="image/*" name="{{ field.name }}"  placeholder="{{ field.label }}">
                  <label class="form-control" for="input_{{field.name}}">Click to select: {{ field.label }}</label>
                {% else %}
                <input  type="text" class="form-control" name="{{ field.name }}" value="{{ field.value }}" size="50" placeholder="{{ field.name }}">
                {% endif %}
                {% if field.name == "preferred_cuisine" %}
                <br/>
                <select name="preferred_cuisine">
                  <option value="" disabled selected>Change your preferred cuisine</option>
                  <option value="CHINESE">CHINESE</option>
                  <option value="INDIAN">INDIAN</option>
                  <option value="ITALIAN">ITALIAN</option>
                  <option value="KOREAN">KOREAN</option>
                  <option value="SPANISH">SPANISH</option>
                  <option value="FRENCH">FRENCH</option>
                  <option value="PAKISTANI">PAKISTANI</option>
                  <option value="GREEK">GREEK</option>
                  <option value="JAPANESE">JAPANESE</option>
                  <option value="AMERICAN">AMERICAN</option>
                  <option value="BRITISH">BRITISH</option>
                </select>

                {% endif %}
              </div>
            </div>
          </div>


        {% endfor %}
        <div class="row">
          <div class="col-lg-12">
            <br/><br/><br/>
          <input class="btn bueno-btn" type="submit" value="Update" />
        </div>
        </div>
      </form>
    {% endif %}

  </div>
  </div>

  <div id="edit_profile"></div>
{% endblock %}
