{% extends 'cookflixapp/base2.html' %}
{% load staticfiles %}


{% block title_block %}
  Recipe
{% endblock %}

{% block extra_css_files_block %}
  <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
{% endblock %}

{% block body_block %}


  <!-- ##### Post Details Area Start ##### -->
  <section class="post-news-area section-padding-100-0 mb-70">
      <div class="container">
          <div class="row justify-content-center">
              <!-- Post Details Content Area -->
              <div class="col-12 col-lg-8 col-xl-9">
                  <div class="post-details-content mb-100">
                      <!-- <div class="blog-thumbnail">
                          <img src="{{ MEDIA_URL }}{{ recipe.thumbnail }}" alt="">
                      </div> -->
                      <div class="blog-content">
                          <a href="#" class="post-tag">{{ recipe.cuisine_type }}</a>
                          <h4 class="post-title">{{ recipe.title }}</h4>
                          <div class="post-meta mb-50">
                              <a href="#" class="post-date">July 11, 2018</a>
                              <a href="#" class="post-author">By Julia Stiles</a>
                          </div>
                      <div class="blog-video mb-50">
                          <video controls width='100%'>
                            <source src="{{ MEDIA_URL }}{{ recipe.video_file}}" type="video/mp4"> </source>
                            <source src="{{ MEDIA_URL }}{{ recipe.video_file}}" type="video/webm"> </source>
                            <source src="{{ MEDIA_URL }}{{ recipe.video_file}}" type="video/ogg"> </source>
                          </video>
                      </div>
                          <h6>Description<br/></h6>
                          <p>{{ recipe.description }}</p>
                      </div>
                  </div>

                  <!-- Comment Area Start -->

                 <div class="comment_area clearfix mb-100">
                      <h4 class="mb-50">Comments</h4>

                      <ol>

                          {% for comment in comments %}
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                              <!-- Comment Content -->
                              <div class="comment-content d-flex">
                                <!-- Comment Author -->
                                <div class="comment-author">
                                  <img src="img/bg-img/32.jpg" alt="author">
                                </div>
                                <!-- Comment Meta -->
                                <div class="comment-meta">
                                  <div class="d-flex">
                                    <a class="post-author">{{ comment.user }}</a>
                                    <a class="post-date">{{ comment.created_at }}</a>
                                  </div>
                                  <p>{{ comment.message }}</p>
                                </div>
                              </div>
                            </li>
                          {% endfor %}
                      </ol>
                  </div>
                  {% if user.is_authenticated %}
                  <div class="post-a-comment-area mb-30 clearfix">
                      <h4 class="mb-50">Leave a reply</h4>

                      <!-- Reply Form -->

                      <div class="contact-form-area">
                          <form id="user_form" method="post" action="{% url 'recipe' id=recipe.id %}" >
                            {% csrf_token %}
                              <div class="row">
                                  <div class="col-12">
                                      <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                  </div>
                                  <div class="col-12">
                                      <button class="btn bueno-btn mt-30" type="submit">Submit Comment</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  {% endif %}
              </div>

          </div>
      </div>
  </section>
  <!-- ##### Post Details Area End ##### -->




{% endblock %}

{% block extra_js_files_block %}
  <script src='https://vjs.zencdn.net/7.4.1/video.js'></script>
{% endblock %}
