{% extends 'cookflixapp/base2.html' %}
{% load staticfiles %}

{% block title_block %}
  Upload
{% endblock %}


{% block body_block %}
  {% if uploaded %}
    <a href="{% url 'recipe' id=recipe.id %}" class="post-title">{{ recipe.title }}</a>
  {% endif %}

  {% if user.is_authenticated %}
    <div class="contact-form-area mb-70">
      <h4 class="mb-50">Upload A Recipe</h4>
      {% for error in recipe_form.errors %}
        <div class="alert alert-danger" role="alert">
          <strong>Error</strong> {{error}}
        </div>
      {% endfor %}
      <form id="recipe_form" method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
        <div class="row">
        {% csrf_token %}
        {% for field in recipe_form %}
          <div class="col-lg-12">
            <div class="form-group">
              {% if field.name == "video_file" %}
                <input class="file-input-hide" id="input_{{field.name}}" required type="file" accept="video/*" name="{{ field.name }}"  placeholder="{{ field.label }}">
                <label class="form-control" for="input_{{field.name}}">Click to select: {{ field.label }}</label>
              {% elif field.name == "thumbnail" %}
                <input class="file-input-hide" id="input_{{field.name}}" required type="file" accept="image/*" name="{{ field.name }}"  placeholder="{{ field.label }}">
                <label class="form-control" for="input_{{field.name}}">Click to select: {{ field.label }}</label>
              {% elif field.name == "user_id" %}
                <input type="hidden" name="{{ field.name }}" value="{{ user.id }}">
              {% elif field.name == "cuisine_type" %}
                <select name="cuisine_type">
                  <option value="" disabled selected>Choose the cuisine type</option>
                  <option value="CHINESE">CHINESE</option>
                  <option value="INDIAN">INDIAN</option>
                  <option value="ITALIAN">ITALIAN</option>
                  <option value="KOREAN">KOREAN</option>
                  <option value="SPANISH">SPANISH</option>
                  <option value="FRENCH">FRENCH</option>
                  <option value="PAKISTANI">PAKISTANI</option>
                  <option value="GREEK">GREEK</option>
                  <option value="JAPANESE">JAPANESE</option>
                  <option value="AMERICAN">AMERICAN</option>
                  <option value="BRITISH">BRITISH</option>
                </select>
                <tr>
              {% elif field.name == "description" %}
                <br/>
                <textarea required type="text" class="form-control" name="{{ field.name }}" placeholder="{{ field.label }}" rows="8" cols="80"></textarea>
              {% else %}
                <input required type="text" class="form-control" name="{{ field.name }}" placeholder="{{ field.label }}">
              {% endif %}

            </div>
          </div>
        {% endfor %}

        <div class="col-12">
          <button class="btn bueno-btn mt-30" type="submit" name="submit">Upload</button>
        </div>
      </div>
      </form>
    </div>
  {% endif %}

{% endblock %}
